{% load static %}

<div class="widget mb-4 pb-2">
    <h5 class="widget-title">پست های اخیر</h5>
    <div class="mt-4">
        <div class="clearfix post-recent">
            <div class="post-recent-thumb float-start"> <a href="jvascript:void(0)"> <img
                        alt="img" src="{% static 'images/blog/07.jpg' %}"
                        class="img-fluid rounded"></a>
            </div>
            <div class="post-recent-content float-start"><a href="jvascript:void(0)">مشاوره
                    شرکتی </a><span class="text-muted mt-2">اردیبهشت 1400</span></div>
        </div>
    </div>
</div>