{% extends "base.html" %}
{% load static %}
{% load jformat %}

{% block content %}
    <!-- Hero Start -->
    <section class="bg-half d-table w-100" style="background: url('images/2.jpg') center center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h3 class="title text-white title-dark">{{paper.title}}</h3>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item"><a href="{% url 'website:home' %}">صفحه اصلی </a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'guide:guide_list' %}">راهنمایی</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{paper.title}}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row">

                        <div class="col-md-10">
                            <ul class="list-unstyled d-flex justify-content-between mt-4">
                                <li class="list-inline-item user me-2"><a
                                        class="text-muted"><i class="uil uil-user text-dark"></i>مترجم: {{ paper.translator.get_full_name }}</a></li>
                                <li class="list-inline-item date text-muted"><i
                                        class="uil uil-calendar-alt text-dark"></i>{{ paper.published_date|jformat:"%A %d %B %Y" }}</li>
                            </ul>

                            <img src="{{paper.image.url}}" class="img-fluid rounded-md shadow" alt="">

                            <h6><i class="mdi mdi-tag text-primary me-1"></i>
                                {% for cat in paper.category.all %}
                                <a href="#"class="text-primary">{{cat.name}}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </h6>

                            <p class="text-muted">{{paper.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}